.topics {
  background: var(--azul-degrade);
  text-align: center;
  padding: 1em 0;
}

.topics__title {
  color: var(--branco);
  font-weight: 300;
  margin-bottom: 1em;
}

.topics__list-itens {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.topics__itens {
  margin: 2em 0.5em;
  border-radius: 8px;
}

.topics__link {
  color: var(--branco);
  padding: 0.5em;
  background-color: var(--laranja);
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  .topics__title {
    font-size: 24px;
    margin: 1em 1em;
  }

  .topics__link {
    font-size: 24px;
  }

  .topics__itens {
    display: flex;
    margin: 1em 0.7em;
    background: var(--laranja);
    flex-direction: column;
    padding: 18px;
  }
}

@media screen and (min-width: 1728px) {
  .topics {
    padding: 3em 25vw;
  }
}
